@font-face {
    font-family: "PP Neue Machina";
    src: url('../fonts/NeueMachina-Ultrabold.otf') format('otf');
}

html{
    font-size: 12px;
}

body{
    font-size: 2.5vw;
        height: 100%;
        color: #000;
        font-family: "PP Neue Machina";
        font-weight: 800;
}
div {
    box-sizing: border-box;
}
.flex-base{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, .thanks {
    color: #000;
    font-family: "PP Neue Machina";
    font-size: 4vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
section{
    height: 100dvh;
}
.content-window{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.svg');
    background-size: 13vw;
    flex-direction: column;
}


.content-wrapper{
    display: block;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}
.window-ready{
    gap: 6vw;
    margin-bottom: 3vw;
}
.window-ready__wrapper{
    width: 34vw;
    height: 34vw;
    border-radius: 627px;
    border: 3px solid #000;
    background: #FFFCFC;
}
.plate-circle{
    width: 23vw;
    height: 23vw;
    border-radius: 409px;
    border: 3px solid #000;
    background: #FFFCFC;
}
.cutlery{
    height: 34vw;
}
.window-ready__buttons{
    gap: 4vw;
}
.button{
    padding: 1vw 2vw;
    border: 1px solid #000;
    background: #FFF;
    cursor: pointer;
}

.pizza-form{
    height: 100%;
}

.pizza-form__choice{
    align-items: flex-start;
    gap: 52px;
}
.pizza-form__choice img{
    max-height: 25vw;
}
.pizza-form__wrapper {
    flex-direction: column;
}
.pizza-form__wrapper h1{
    margin-bottom: 12vw;
    align-self: flex-start;
    margin-left: 2vw;
    margin-top: 2vw;
}
.content-wrapper > h1{
    margin-left: 2vw;
    margin-top: 2vw;
}
.figure-wrapper{
    height: 100%;
    width: 100%;
   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.figure-wrapper.orders{
    margin: auto;
}
.figure-wrapper.bg-circle{
    width: 43vw;
    max-height: 78vh;
    background-image: url('../img/circle.svg');
}
.figure-wrapper.bg-rectangle{
    width: 50vw;
    max-height: 78vh;
    background-image: url('../img/rectangle.svg');
}
.figure-wrapper.bg-triangle{
    width: 44vw;
    max-height: 78vh;
    background-image: url('../img/triangle.svg');
}
/* .figure-wrapper img{
    width: 100%;
    height: 100%;
} */
.pizza-make__wrapper{
    
    height: 78%;
    gap: 3vw;
}
.left-items, .right-items {
    flex-direction: column;
    gap: 2vw;
   
}
.dragabble {
    width: 100%;
    max-width: 299px;
    max-height: 132.692px;
    width: 7vw;
    position: relative;
}
.single-figure{
    cursor: pointer;
}
.dragabble{
    cursor: grab;
}
.collect, .order {
    color: #000;
    font-family: "PP Neue Machina";
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: 1px solid #000;
    background: #B1CC25;
    padding: 10px 20px;
    float: right;
    margin-right: 3vw;
   cursor: pointer;
}
.content-wrapper.pizza-maker h1 {
    margin-left: 1vw;
}
.img-wrapper{
    display: inline-flex;
    
}
.pizza-make__wrapper img, .dragabble{
    z-index: 2;

}
.pizza-make__wrapper{
    overflow: hidden;
}
.thanks{
    float: right;
    margin-right: 2vw;
    position: absolute;
    bottom: 4%;
    right: 0;
}
.content-wrapper > h1 {
    margin-left: 2vw;
}
.finish-image{
    width: 90%;
    margin-left: 5vw;
}
@media screen and (min-width: 769px) and ( max-width: 1024px) {
    .pizza-form__choice{
        gap: 20px;
    }
    .pizza-make__wrapper{
        height: 70%;
    }
    .collect, .order{
        font-size: 3vw;
    }
    .figure-wrapper.bg-triangle, .figure-wrapper.bg-rectangle, .figure-wrapper.bg-circle{
        height: 70%;
    }
    .pizza-form__wrapper h1 {
        margin-bottom: 7vw;
    }
    .finish-image {
        width: 75%;
        margin-left: 10vw;
    }
    .finish-image{
        margin-top: 2vw;
    }
    .thanks {
        margin-top: -4vw;
    }
    .content-wrapper > h1{
        margin-top: 2vw;
        
    }
    .pizza-form__wrapper h1{
        margin-top: 2vw;
        margin-left: 2vw;
        align-self: flex-start;

    }
}
@media screen and ( max-width: 768px) {
    body{
        font-size: 5vw;
    }
    .window-ready__wrapper{
        width: 60vw;
        height: 60vw;
    }
    .plate-circle{
        width: 45vw;
        height: 45vw;
    }
    h1, .thanks{
        font-size: 8vw;
    }
    .cutlery{
        height: 54vw;
    }
    .button{
        padding: 2vw 4vw;
    }
    .pizza-form__choice{
       
        gap: 12px;
    }
    .pizza-form__wrapper h1{
        align-self: flex-start;
    }
    .pizza-form__wrapper{
        gap: 20vh;
    }
    .collect, .order{
        font-size: 5vw;
    }
    .pizza-make__wrapper{
        height: 73%;
    }
    .figure-wrapper.bg-rectangle, .figure-wrapper.bg-triangle, .figure-wrapper.bg-circle{
        height: 70%;
    }
    .finish-image {
        height: 83%;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .thanks{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .content-wrapper h1{
        margin-top: 2vw
    }
    
}
